@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap");
@import "tailwindcss";

@tailwind utilities;
@theme {
  --color-primary: #034853;
  --color-secondary: #accf9f;
  --color-accent: #f2717c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

nav {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
